# **Loading stock market data using yfiance library**

In [1]:
import pandas as pd
import yfinance as yf

### Find the ticker symbols here: https://stockanalysis.com/stocks/

In [2]:
# ticker define
ticker = 'NVDA'

In [4]:
# define the time period
start_date = '2015-01-01'
end_date = '2024-11-21'

In [5]:
# download the data
df_nvda = yf.download(ticker, start=start_date, end=end_date)
df_nvda.head()

YF.download() has changed argument auto_adjust default to True

Failed to get ticker 'NVDA' reason: HTTPSConnectionPool(host='fc.yahoo.com', port=443): Max retries exceeded with url: / (Caused by NameResolutionError("<urllib3.connection.HTTPSConnection object at 0x000001A2F1EA5DE0>: Failed to resolve 'fc.yahoo.com' ([Errno 11001] getaddrinfo failed)"))
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['NVDA']: ConnectionError(MaxRetryError('HTTPSConnectionPool(host=\'fc.yahoo.com\', port=443): Max retries exceeded with url: / (Caused by NameResolutionError("<urllib3.connection.HTTPSConnection object at 0x000001A2F1EA45B0>: Failed to resolve \'fc.yahoo.com\' ([Errno 11001] getaddrinfo failed)"))'))

Empty DataFrame
Columns: [(Adj Close, NVDA), (Close, NVDA), (High, NVDA), (Low, NVDA), (Open, NVDA), (Volume, NVDA)]
Index: []

# Define each column in the dataset
- **Date**: The date of the stock market data
- **Open**: The opening price of the stock
- **High**: The highest price of the stock
- **Low**: The lowest price of the stock
- **Close**: The closing price of the stock
- **Adj Close**: The adjusted closing price of the stock
- **Volume**: The volume of the stock
- **Ticker**: The ticker symbol of the stock
- **Name**: The name of the stock
- **Sector**: The sector of the stock
- **Industry**: The industry of the stock
- **Country**: The country of the stock

In [9]:
# save the data in a csv file
df_nvda.to_csv('datasets/' + ticker + '_yfinance.csv')

In [10]:
# download the data from multiple tickers
tickers = ['AAPL', 'MSFT', 'NVDA', 'GOOGL', 'AMZN']
start_date = '2010-01-01'
end_date = '2024-11-21'
df = yf.download(tickers, start=start_date, end=end_date)
df.head()
# save the data in a csv file
df.to_csv('datasets/' + '_'.join(tickers) + '_yfinance.csv')

[*********************100%***********************]  5 of 5 completed

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3747 entries, 2010-01-04 to 2024-11-20
Data columns (total 30 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   (Adj Close, AAPL)   3747 non-null   float64
 1   (Adj Close, AMZN)   3747 non-null   float64
 2   (Adj Close, GOOGL)  3747 non-null   float64
 3   (Adj Close, MSFT)   3747 non-null   float64
 4   (Adj Close, NVDA)   3747 non-null   float64
 5   (Close, AAPL)       3747 non-null   float64
 6   (Close, AMZN)       3747 non-null   float64
 7   (Close, GOOGL)      3747 non-null   float64
 8   (Close, MSFT)       3747 non-null   float64
 9   (Close, NVDA)       3747 non-null   float64
 10  (High, AAPL)        3747 non-null   float64
 11  (High, AMZN)        3747 non-null   float64
 12  (High, GOOGL)       3747 non-null   float64
 13  (High, MSFT)        3747 non-null   float64
 14  (High, NVDA)        3747 non-null   float64
 15  (Low, AAPL)         3747 non-null   float64
 16  (Low, AMZN)         3747 non-null   float64
 17  (Low, GOOGL)        3747 non-null   float64
 18  (Low, MSFT)         3747 non-null   float64
 19  (Low, NVDA)         3747 non-null   float64
 20  (Open, AAPL)        3747 non-null   float64
 21  (Open, AMZN)        3747 non-null   float64
 22  (Open, GOOGL)       3747 non-null   float64
 23  (Open, MSFT)        3747 non-null   float64
 24  (Open, NVDA)        3747 non-null   float64
 25  (Volume, AAPL)      3747 non-null   int64
 26  (Volume, AMZN)      3747 non-null   int64
 27  (Volume, GOOGL)     3747 non-null   int64
 28  (Volume, MSFT)      3747 non-null   int64
 29  (Volume, NVDA)      3747 non-null   int64
dtypes: float64(25), int64(5)
memory usage: 907.5 KB

In [12]:
# ticker define
ticker_1 = 'GOOGL'

In [14]:
# define the time period
start_date = '2015-01-01'
end_date = '2025-4-8'

In [16]:
# download the data
df_google = yf.download(ticker_1, start=start_date, end=end_date)
df_google.head()

[*********************100%***********************]  1 of 1 completed

Price           Close       High        Low       Open    Volume
Ticker          GOOGL      GOOGL      GOOGL      GOOGL     GOOGL
Date
2015-01-02  26.351517  26.662530  26.268412  26.503289  26480000
2015-01-05  25.849415  26.273886  25.764323  26.232086  41182000
2015-01-06  25.211468  25.936500  25.157226  25.901169  54456000
2015-01-07  25.137320  25.452811  25.062678  25.425941  46918000
2015-01-08  25.224903  25.254262  24.633230  24.956187  73054000

In [22]:
# save the data in a csv file
df_google.to_csv('datasets/' + ticker_1 + '_yfinance.csv')

In [28]:
tickers_2 = ['RKT',' UBS','EA','AIY.DE']
start_date = '2010-01-01'
end_date = '2025-4-8'
df = yf.download(tickers_2, start=start_date, end=end_date)
df.head()
# save the data in a csv file
df.to_csv('datasets/' + '_'.join(tickers_2) + '_yfinance.csv')

[*********************100%***********************]  4 of 4 completed

1 Failed download:
[' UBS']: YFTzMissingError('possibly delisted; no timezone found')

Its give me error with other tickers 

`1 Failed download:
[' UBS']: YFTzMissingError('possibly delisted; no timezone found')`

Its work alone you see in the blow code

In [27]:
import yfinance as yf

data = yf.download("UBS", start="2020-01-01", end="2023-01-01")
print(data.head())

[*********************100%***********************]  1 of 1 completed

Price           Close       High        Low       Open   Volume
Ticker            UBS        UBS        UBS        UBS      UBS
Date
2020-01-02  10.959760  10.959760  10.747690  10.773138  3352200
2020-01-03  10.781621  10.832518  10.730724  10.756173  2627400
2020-01-06  10.756174  10.773139  10.671346  10.688312  2318500
2020-01-07  10.976725  11.014897  10.911407  10.959759  4237600
2020-01-08  11.120933  11.154864  11.070036  11.087001  3363200

In [29]:
data.to_csv('datasets/UBS_yfinance.csv')

In [32]:
import yfinance as yf

tickers_3 = ["AAPL", "UBSFY", "MSFT", "TSLA"]  # Add whatever tickers you want
successful_downloads = {}
failed_downloads = []

for ticker in tickers_3:
    try:
        data_1 = yf.download(ticker, start="2020-01-01", end="2023-01-01")
        if not data.empty:
            successful_downloads[ticker] = data
            print(f"✅ Downloaded: {ticker}")
        else:
            raise ValueError("Data is empty")
    except Exception as e:
        failed_downloads.append((ticker, str(e)))
        print(f"❌ Failed: {ticker} — {e}")

# Summary
print("\n--- Download Summary ---")
print(f"Successful: {list(successful_downloads.keys())}")
print(f"Failed: {[f[0] for f in failed_downloads]}")

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

✅ Downloaded: AAPL
✅ Downloaded: UBSFY

✅ Downloaded: MSFT

[*********************100%***********************]  1 of 1 completed

✅ Downloaded: TSLA

--- Download Summary ---
Successful: ['AAPL', 'UBSFY', 'MSFT', 'TSLA']
Failed: []

In [33]:
data_1.to_csv('datasets/' + '_'.join(tickers_3) + '_yfinance.csv')

--------------